<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NHL Hall of Fame Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">NHL Hall of Fame</h1>
      <h2 class="lead">An elected 18-person selection committee votes on Hall of Fame induction.
        Have they been correct?
      </h2>
      <hr>
      <h2 class='lead'>This site uses Machine Learning techniques to predict which NHL players should be in the Hockey Hall of Fame in Toronto.</h2>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href='#'>NHL Hall of Fame Predictor</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="overview.html">Overview</a>
            </li>
          </ul>
        
         <!-- <a class="navbar-link" href="overview.html">Overview</a> -->
         <!-- <form class="form-inline my-2 my-lg-0"> -->
          <div class="autocomplete">
            <input class="form-control mr-sm-2" type="text" placeholder="Player" aria-label="Search" id="myInput">
          </div>
          <button id="resetButton" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Reset</button>
          <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <!-- </form> -->
          <!-- <div class="search">
            <div class="autocomplete">

              <input type="text" placeholder="Player" name= "selectedPlayer" id="myInput">
            </div>
            <button id="resetButton" class="btn btn-outline-danger my-2 my-sm-0" type="submit">
              Reset</button>
             <input type="submit" id="selection"> -->
            <!-- <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div> --> 
        </div>
  </nav>

  <div class="container overview">
    <div class="row">
      <div class="col-md-12">
        <h4>Enter a player in the search bar above to see the results of our analysis. </h4>
        <h6 class="lead">We performed our analysis using the following machine learning models: Logistic Regression, Random Forest, XGBoost. For our training set, we looked at players that played from 1967 to 2017 with more than 100 games played. We also left goalies out of our dataset to allow us to compare the same stats for every player. Forwards are represented with POS = 1 and defenders are POS = 2.</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="searchHeader"></div>
        <div id="searchTable">
          <table id="searchTable" class="table table-striped">
            <thead>
            </thead>
            <tbody class="searchTable"></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-header">
          <h4>Top 10 HoF Players</h4>
        </div>
        <div id="table">
          <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">Player</th>
                <th class="table-head">GP</th>
                <th class="table-head">G</th>
                <th class="table-head">A</th>
                <th class="table-head">TP</th>
                <th class="table-head">PPG</th>
                <th class="table-head">PIM</th>
                <th class="table-head">POS</th>
                <th class="table-head">Cups</th>
                <th class="table-head">All-Star Games</th>
                <th class="table-head">HoF</th>
                <th class="table-head">HoF Probability</th>
              </tr>
            </thead>
            <tbody class="topTenTable"></tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="table-header">
          <h4>Top 10 Eligible Players</h4>
        </div>
        <div id="table">
          <table id="eligibleTable" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">Player</th>
                <th class="table-head">GP</th>
                <th class="table-head">G</th>
                <th class="table-head">A</th>
                <th class="table-head">TP</th>
                <th class="table-head">PPG</th>
                <th class="table-head">PIM</th>
                <th class="table-head">POS</th>
                <th class="table-head">Cups</th>
                <th class="table-head">All-Star Games</th>
                <th class="table-head">HoF</th>
                <th class="table-head">HoF Probability</th>
              </tr>
            </thead>
            <tbody class="topTenEligible"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>