<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NHL HoF Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">NHL Hall of Fame</h1>
      <h2 class="lead active">An elected 18-person selection committee votes on Hall of Fame induction.
        Have they been correct?
      </h2>
      <hr>
      <h2 class='lead active'>Nominees are judged on player stats, as well as their playing ability, sportsmanship, character and contributions to his team or teams and to the game of hockey in general.</h2>
    </div>
  </div>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href='#'>NHL Hall of Fame Predictor</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Overview<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    
     <!-- <a class="navbar-link" href="overview.html">Overview</a> -->
     <!-- <form class="form-inline my-2 my-lg-0"> -->
      <!-- <div class="autocomplete">
        <input class="form-control mr-sm-2" type="text" placeholder="Player" aria-label="Search" id="myInput">
      </div>
      <button id="resetButton" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Reset</button>
      <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
     <!-- </form> -->
    </div>
  </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Overview</h2>
                <br>
                <h4>Data</h4>
                <p></p>
                <br>
                <h4>Machine Learning</h4>
                <p></p>
                <br>
                <h4>Findings</h4>
                <p></p>
                <br>
                <h4>Future Considerations</h4>
                <ul>
                    <li>Expand data set to include other leagues, Olympics/World Cup and playoff stats</li>
                    <li>Include goaltenders and the ability to predict by any position</li>
                    <li>Ability to click a table header to filter the table by that field.</li>
                    <li>Ability to search by a team to see all of their players.</li>
                    
                </ul>
                <br>
            </div>
        </div>
    </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>