<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NHL HoF Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">NHL Hall of Fame</h1>
      <h2 class="lead active">An elected 18-person selection committee votes on Hall of Fame induction.
        Have they been correct?
      </h2>
      <hr>
      <h2 class='lead active'>Nominees are judged on player stats, as well as their playing ability, sportsmanship, character and contributions to his team or teams and to the game of hockey in general.</h2>
    </div>
  </div>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href='#'>NHL Hall of Fame Predictor</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Overview<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    
     <!-- <a class="navbar-link" href="overview.html">Overview</a> -->
     <!-- <form class="form-inline my-2 my-lg-0"> -->
      <!-- <div class="autocomplete">
        <input class="form-control mr-sm-2" type="text" placeholder="Player" aria-label="Search" id="myInput">
      </div>
      <button id="resetButton" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Reset</button>
      <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
     <!-- </form> -->
    </div>
  </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Overview</h2>
                <br>
                <h4>Data</h4>
                <p>To aquire our data, we scraped five different websites to gather career scoring statistics, all-star game appearances, 
                  season awards won, Stanley Cup victories and current players in the hall of fame.  Data cleanup included spliting combined columns, 
                  converting position and Hall of Fame to integer values, combining individual awards totals into a sum column, remove duplicate and 
                  unnecesary columns.  We then had to match the player names across all data sheets. This incuded spelling differences, removing special 
                  characters, adding Jr. to a few father and son pairs and researching a some player nicknames. There were aproximately 100 mismatches 
                  that we needed to address in our code in order to be able to join the data together on player name to create our final dataset to run 
                  through our machine learning model.</p>
                  <ul>
                    <li>https://www.eliteprospects.com/league/nhl/stats/all-time</li>
                    <li>https://www.nhl.com/info/nhl-awards-trophies/</li>
                    <li>https://records.nhl.com/records/playoff-skater-records/stanley-cups/skater-most-stanley-cups-won-career</li>
                    <li>https://www.quanthockey.com/nhl-all-star-game/en/records/nhl-all-star-game-players-all-time-points-leaders.html</li>
                    <li>https://en.wikipedia.org/wiki/List_of_members_of_the_Hockey_Hall_of_Fame</li>
                </ul>  
                <br>
                <h4>Machine Learning</h4>
                <p>This dataset was challenging to work with because it was imbalanced. There have been very few players inducted into the 
                  Hockey Hall of Fame compared to the number of total players. After running a few tests, we decided to limit our train-test 
                  scope to only players with a minimum 100 games played and players with their first season >= 1967. 1967 was the year the NHL 
                  first expanded from the original 6 teams to 12 teams. We tested 3 different classification models: Logistic Regression, 
                  Random Forest, and XG Boost. The Random Forest and XGBoost models were the most accurate, but far from great. The sampling of 
                  the dataset was an issue. All it had to do was predict 'No' and it was correct 99% of the time. Only 2.5% of the players are 
                  in the Hall of Fame. In order to address the imbalance, we decided to use RandomizedSearchCV from the Scikit-learn package. 
                  The updated model produced more realistic results.
                </p>
                <br>
                <h4>Findings</h4>
                <p>After training, we decided to run all of the data for players back through 
                  the model to check the output for players who were already in the Hall of Fame, the players that were overlooked, and players 
                  that were not eligible but should be in the Hall. The model provided HoF probabilities less than 68% for 10 current HoF inductees. 
                  Since the HoF selection committee focuses on more than stats, we concluded that there are factors not captured by our model 
                  (College career, coaching career, Olympic career etc.)
                <br>
                <br>
                <h5>Dataset Class Split  </h5>
                  <!-- <img src="../static/images/Dataset_split.PNG" style="display:block; margin: 0 auto" alt="alt text"> -->
                  <img src="../static/images/Dataset_split.PNG" style="display:block; margin: 0 auto" alt="alt text">
                <br>
                <br>
                <h5>Boost Model Feature Impact </h5>
                  <img src="../static/images/BoostModel_FeatureImpact.PNG" style="display:block; margin: 0 auto" alt="alt text">
                <br>
                <br>
                <h5>Boost Model Feature Summary </h5>
                  <img src="../static/images/BoostModel_FeatureSummary.PNG" style="display:block; margin: 0 auto" alt="alt text">
                <br>
                <br>
                <h5>Shapley Force - Jaromir Jagr  </h5>
                
                <img src="../static/images/Jaromir Jagr.PNG" style="display:block; margin: 0 auto" alt="alt text">
                <br>
                <img src="../static/images/Jagr.gif" style="display:block; margin: 0 auto" alt="alt text">
                <br>
                <ul>
                  <li>The <b>output value</b> is the prediction for that observation (the prediction for this observation is 10.56).</li>
                  <li>The <b>base value</b>: The original paper explains that the base value E(y_hat) is “the value that would be predicted if we did not know 
                  any features for the current output.” In other words, it is the mean prediction, or mean(yhat). You may wonder why it is -4.187. 
                  This is because the mean prediction of Y_test is -4.187. You can test it out by Y_test.mean() which produces -4.187.</li>
                  <li><b>Red/blue</b>: Features that push the prediction higher (to the right) are shown in red, and those pushing the prediction lower are in blue.</li>
                  <li>The plot is centered on the x-axis at explainer.expected_value. All SHAP values are relative to the model's expected value like a linear model's 
                  effects are relative to the intercept.</li>
                  <li>Source: <a>https://towardsdatascience.com/explain-any-models-with-the-shap-values-use-the-kernelexplainer-79de9464897a</a></li>
                </ul>
                  <br>        
                  <img src="../static/images/SteveYzerman_BoostModel.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br><br>
                  <img src="../static/images/SteveYzerman_ForestModel.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br><br>


                  <img src="../static/images/Lowest_Prob.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br>
                  <img src="../static/images/Best_Prob.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br>
                  <img src="../static/images/Best_Prob_Active.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br>
                  <img src="../static/images/Best_Prob_Rookies.PNG" style="display:block; margin: 0 auto" alt="alt text"> <br>
                [Bottom 10 inductees image]

                </p>
                <br>
                <h4>Future Considerations</h4>
                <ul>
                    <li>Expand data set to include other leagues, Olympics/World Cup and playoff stats</li>
                    <li>Include goaltenders and the ability to predict by any position</li>
                    <li>Ability to click a table header to filter the table by that field.</li>
                    <li>Ability to search by a team to see all of their players.</li>
                    <li>Add interactive shapley value visuals.</li>
                    <li>Ability to trend current players to predict HoF probability at end of their career.</li>
                    
                </ul>
                <br>
            </div>
        </div>
    </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>